*#
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.iml
*.o
*.prof
*~
.DS_Store
.HTF/
.cabal-sandbox/
.dir-locals.el
.ghc.environment.*
.haskell-ghc-mod.json
.hpc
.hsenv
.idea/
.ideaHaskellLib/
.stack-work/
.virtualenv
.vscode/
/result
/result-*
TAGS
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
cabal-dev
cabal.config
cabal.project.local
cabal.sandbox.config
dist
dist-*
tags
