name: CI

on:
  pull_request:
  push:

jobs:
  nix:
    name: Nix ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]

    steps:

    - name: info
      run: |
        set -x
        nproc
        nproc --all
        cat /sys/fs/cgroup/cpuset/cpuset.cpus

    - uses: actions/checkout@v2.3.4

    - uses: actions/cache@v2.1.6
      name: Cache Nix Store
      with:
        path: |
          /nix/store/
        key:
          nix-store-${{ hashFiles('**/*.nix') }}
        restore-keys: |
          nix-store-

    - uses: cachix/install-nix-action@v13
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          substituters = https://hydra.iohk.io https://cache.nixos.org/
          trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=

    - name: Nix info
      run: |
        set -x
        nix-shell -p nix-info --run 'nix-info -m'
        nix-build --version
        nix-instantiate --json --eval --expr 'with import <nixpkgs> {}; lib.trivial.revisionWithDefault null' | jq --raw-output
        set +x
        echo ---------------------------------------------------------------
        echo Contents of nix.conf
        echo ---------------------------------------------------------------
        cat /etc/nix/nix.conf
        echo ---------------------------------------------------------------
        set -x
        tree ~/.config/nix
        cat ~/.config/nix/nix.conf || true

    - name: Modify PATH
      run: |
        echo GITHUB_PATH before
        cat $GITHUB_PATH | sed 's/^/  /'
        echo -----------------------
        echo $PWD/scripts >>$GITHUB_PATH
        echo GITHUB_PATH after
        cat $GITHUB_PATH | sed 's/^/  /'
        echo -----------------------

    - name: Build
      run: |
        project-nix-build

    - name: Test
      run: |
        project-nix-test

    - name: Smoke Test
      run: |
        project-nix-smoke-test

  cabal:
    name: Cabal ${{ matrix.os }} cabal-${{ matrix.cabal }} ghc-${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        cabal: ["3.4.0.0"]
        ghc:
          - "8.10.4"

    steps:
    - uses: actions/checkout@v2.3.4

    - uses: haskell/actions/setup@v1
      id: setup-haskell-cabal
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}

    - name: Show cabal-store
      run: |
        echo ${{ steps.setup-haskell-cabal.outputs.cabal-store }}

    - name: Configure
      run: |
        cabal configure --enable-tests --enable-benchmarks --test-show-details=direct

    - name: Freeze
      run: |
        cabal freeze

    - uses: actions/cache@v2.1.6
      name: Cache Cabal build artifacts
      with:
        path: |
          ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
          dist-newstyle
        key:
          ${{ runner.os }}-${{ matrix.ghc }}-cabal-${{ hashFiles('cabal.project.freeze') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-cabal-

    - name: Install dependencies
      run: |
        cabal build all --only-dependencies

    - name: Build
      run: |
        cabal build all

    - name: Test
      run: |
        cabal test all

  stack:
    name: Stack ${{ matrix.os }} / stack-${{ matrix.stack }} ghc-${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        stack: ["2.7.1"]
        ghc:
          - "8.10.4"

    steps:
    - uses: actions/checkout@v2.3.4

    - uses: haskell/actions/setup@v1
      name: Setup Haskell Stack
      with:
        ghc-version: ${{ matrix.ghc }}
        stack-version: ${{ matrix.stack }}

    - name: Show stack-root
      run: |
        echo ${{ steps.setup-haskell-stack.outputs.stack-root }}

    - uses: actions/cache@v2.1.6
      name: Cache Stack build artifacts
      with:
        path: |
          ~/.stack
          .stack-work
        key:
          ${{ runner.os }}-${{ matrix.ghc }}-stack-${{ hashFiles('stack.lock') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-stack-

    - name: Install and build dependencies
      run: |
        stack --system-ghc build --test --bench --only-dependencies

    - name: Build
      run: |
        stack --system-ghc build --test --bench --no-run-tests --no-run-benchmarks

    - name: Test
      run: |
        stack --system-ghc test
